<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://assets.afcdn.com/recipe/20180705/80288_w648h344c1cx1473cy1313cxt0cyt0cxb4493cyb3286.jpg);">
  <div>
    <h1>Welcome to the Mixoteque</h1>
    <%= link_to "Add a new Cocktail", new_cocktail_path(@cocktails), class:"btn btn-ghost" %>
  </div>
</div>
<div class="card-container">
  <% @cocktails.each do |cocktail| %>
    <div class="card-product">
      <img src="https://source.unsplash.com/featured/?cocktail">
      <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
      <p><%= link_to 'Delete', cocktail_path(cocktail),method: :delete, data: { confirm: "Delete this cocktail from the Mixoteque ?" } %></p>
    </div>
  <% end %>
</div>


